apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argo-rollouts
resources:
# - Blue-Green/
- Canary/
- ingress.yaml

# https://argoproj.github.io/argo-rollouts/features/kustomize/
configurations:
- rollout-transform.yaml
